node_modules/
db/
bundle/
*.zip
.env
.tar
.tar.gz
platforms/
package-lock.json
platforms/googleAction/dialogflow/intents/

platforms/googleAction/dialogflow/entities/siteType_entries_en-us\.json

platforms/googleAction/dialogflow/entities/siteType\.json

platforms/alexaSkill/models/en-US\.json
